 
{{ define "CreateOrder" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Nouvelle commande</h2>  
    <form method="POST" action="insert">
      <label>Numéro de client: </label><input type="text" name="id" placeholder="1 ou 2" /><br />
      <label>Quantité de pizza: </label><input type="text" name="qty" value=1 /><br />
      <label>Date de livraison: </label><input type="text" name="dateLivraison" placeholder="YYYY-DD-MM" /><br />
      <br />
      Choissisez vos ingredients:
      <div>
         {{ range . }}
        <input type="checkbox" name="ingredients_list" value={{.ID}}>
        <label for="ingredient"> {{ .Name }}</label> {{.Price}}$ <br /> 
        {{end}}
      </div>
      <br />
      <input type="submit" value="Commander" />
     
    </form>
  {{ template "Footer" }}
{{ end }}